html, body {
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Container */
#container {
    position: relative;
    width: 550px;
    height: 550px;
    background: #ECFDF5;
    border-radius: 5px;
}

/* Headings */
#heading1, #heading2 {
position: relative;
width: 354px;
height: 16px;
left: 52px;
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* or 100% */
letter-spacing: -0.025em;
color: #2B283A;
}

#heading1{
 margin-top: 10px;
}

#heading2 {
    position: relative;
    color: #10B981;
    margin-bottom: 45px;
}

/* Supporting text */
 #supporting-text {
position: relative;
width: 372px;
height: 28px;
left: 52px;

/* text-xl/leading-7/font-normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
color: #6B7280;
margin-bottom: 25px;
}
 #settings-container {
    position: relative;
    left: 52px;
    margin-bottom: 20px;
    width: 350px;
 }

#password-length h3,.toggle-wrapper h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    color: #6B7280;
    margin: 0;
}
 input[type="range"] {
 -webkit-appearance: none;
}
/* The slider */
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    border-radius: 18px;
    background-color: #d3d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* slider handle */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background: #10B981;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #10B981;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.slider::-ms-fill-lower{
    background-color: #10B981;
}
.slider::-moz-range-progress {
    background: #d3d3d3d3;
}


#passwordLength {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
   /* identical to box height, or 140% */
    
    margin: 0;
}
/* Toggle button */
.cm-toggle{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}
/* To create surface of toggle button */
.cm-toggle:after{
    content:"";
    width: 32px;
    height: 16px;
    display: inline-block;
    background-color: rgba(196, 195, 195, 0.550);
    border-radius: 18px;
    clear: both;
}
/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
    content:"";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 0;
    
    border-radius: 50%;
    background: rgba(196, 195, 195, 0.550);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
/* Shift the handle to left on check event */
.cm-toggle:checked:before {
    left: 16px;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.6);
}

/* Background color when toggle button will be active */
.cm-toggle:checked:after {
    background: #10B981;
}

/* Transition to smoothness */
.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,.cm-toggle:checked:before,.cm-toggle:checked:after {
    transition: ease .3s;
    -webkit-transition: ease .3s;
    -moz-transition: ease .3s;
    -o-transition: ease .3s;
}
/* Button */
button {
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
position: relative;
width: 223px;
height: 42px;
left: 52px;
background: #10B981;
/* shadow/sm */
border: none;
border-radius: 6px;
margin-bottom: 20px;
}

button:hover{
    background-color: #047857;
}
#password-length{
    display: flex;
    flex-direction: column;
}

.toggle-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 365px;
}
/* Icon */
#button-icon {
position: relative;
width: 20px;
height: 20px;
left: 3px;
right: 15%;
top: 1px;
bottom: 5%;

/* white */

color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

/* text */
#button-text {
width: 159px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* white */

color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

hr {
    position: relative;
    width: 446px;
    height: 0px;
    border: 1px solid #D5D4D8; 
    justify-content: center;
    margin-bottom: 20px;
    
}
.passwords-container{
    display:grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    grid-gap: 24px 24px;
    color:#10B981;
}
#password1, #password2, #password3, #password4 {
    background: #273549;
    border-radius: 6px;
    position: relative;
    width: 210px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
}


